# SPDX-FileCopyrightText: 2020 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      timezone: Europe/Paris
    open-pull-requests-limit: 10
    versioning-strategy: increase
    labels:
      - dependencies
    groups:
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      timezone: Europe/Paris
    open-pull-requests-limit: 10
    labels:
    - dependencies
